{{- $name := promptString "Your nickname" -}}
{{- $email := promptString "Your email" -}}
{{- $sshGithubPubkey := promptString "GitHub SSH public key" -}}
{{- $sshSourcecraftPubkey := promptString "SourceCraft SSH public key" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  sshGithubPubkey = {{ $sshGithubPubkey | quote }}
  sshSourcecraftPubkey = {{ $sshSourcecraftPubkey | quote }}

[git]
  autoCommit = false
  autoPush = false

[edit]
  command = "hx"
  apply = true
