[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = {{ .signingkey }}

[init]
  defaultBranch = main

[core]
  editor = nvim
  pager = delta
  autocrlf = input
  safecrlf = warn

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  line-numbers = true
  syntax-theme = Monokai Extended
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  hunk-header-style = omit

[diff]
  tool = nvimdiff

[merge]
  tool = nvimdiff
  conflictStyle = zdiff3

[mergetool]
  keepBackup = false

[mergetool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'

[pull]
  rebase = true

[fetch]
  prune = true

[push]
  autoSetupRemote = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = {{ .allowedSignersFile }}

[commit]
  gpgsign = true

[tag]
  gpgsign = true
