[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = {{ .signingkey }}

[init]
  defaultBranch = main

[core]
  editor = hx
  pager = delta
  autocrlf = input
  safecrlf = warn

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations
  navigate = true
  dark = true
  line-numbers = true
  syntax-theme = tokyonight_storm

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  hunk-header-style = omit

[diff]
  algorithm = histogram
  colorMoved = zebra

[merge]
  conflictStyle = zdiff3
  tool = hx

[mergetool]
  keepBackup = false

[mergetool "hx"]
  cmd = hx "$MERGED"

[rerere]
  enabled = true

[pull]
  rebase = true

[rebase]
  autoSquash = true
  updateRefs = true

[fetch]
  prune = true

[push]
  autoSetupRemote = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = {{ .allowedSignersFile }}

[commit]
  gpgsign = true

[tag]
  gpgsign = true
